<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="ctm-github" value="https://nuget.pkg.github.com/comparethemarket/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ctm-github>
      <add key="Username" value="%MM_GITHUB_USERNAME%" />
      <add key="ClearTextPassword" value="%MM_GITHUB_PASSWORD%" />
    </ctm-github>
  </packageSourceCredentials>
</configuration>